/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'variables';
@import 'general';
@import 'forms';

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}